# Dependency directories
node_modules/
jspm_packages/

# Output directory from TypeScript compiler
out/
SlidingPuzzle/TypeScript/package.json
SlidingPuzzle/TypeScript/package-lock.json
CountFertilePyramids/TypeScript/package.json
CountFertilePyramids/TypeScript/package-lock.json
JumpGameV/TypeScript/package-lock.json
JumpGameV/TypeScript/package.json
ShortestPathVisitingAllNodes/TypeScript/package-lock.json
ShortestPathVisitingAllNodes/TypeScript/package.json
MinFlipsConvertBinaryMatrix/TypeScript/package.json
MinFlipsConvertBinaryMatrix/TypeScript/package-lock.json
CherryPickupII/TypeScript/package-lock.json
CherryPickupII/TypeScript/package.json
UniquePathsIII/TypeScript/package-lock.json
UniquePathsIII/TypeScript/package.json
MyCalendarIII/TypeScript/package.json
MyCalendarIII/TypeScript/package-lock.json
BraceExpansionII/TypeScript/package.json
BraceExpansionII/TypeScript/package-lock.json
