# Dependency directories
node_modules/
jspm_packages/

# Output directory from TypeScript compiler
out/
SlidingPuzzle/TypeScript/package.json
SlidingPuzzle/TypeScript/package-lock.json
CountFertilePyramids/TypeScript/package.json
CountFertilePyramids/TypeScript/package-lock.json
